body {
	padding-top: 50px;
}

.right_tile {
    padding: 10px;
    border: 1px solid #ddd;
}

.tile_entity {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.flats_count {
    padding-top: 50px;
    padding-bottom: 50px;
}

.none {
    display: none !important;
}

.jumbotron {
    background-color: transparent;
}

.btn {
    margin-top: 10px;
}
