body {
	padding-top: 50px;
}

.filter_form {
    padding: 10px;
    border: 1px solid #ddd;
}

.flat {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.flats_count {
    padding-top: 50px;
    padding-bottom: 50px;
}

.none {
    display: none !important;
}

.jumbotron {
    background-color: transparent;
}

.btn {
    margin-top: 10px;
}
